@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-bold_700") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-medium_500") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-regular_300") format("woff2");
    font-weight: 300;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: roboto, "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: white;
    background-color: #849d8f;
}

a {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;

}

.breadcrumbs-list {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

.button {
    background-color: #849d8f;
    border-radius: 10px;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #e84e37;
}


.header-menu_item {
    line-height: 18px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.header-user_menu {
    list-style: none;
}

.header-navigation {
    list-style: none;
}

.link-catalog {
    font-size: 14px;
    line-height: 16px;
}

.catalog-list {
    list-style: none;
}

.drop-find {
    background-color: white;
    font-size: 14px;
    line-height: 24px;
}

.dropdown {
    display: none;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

.dropdown-item {
    color: black;
    background-color: #fbded8;
}

.header-login {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header-buy {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.small {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.call {
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.news-link {
    font-size: 24px;
    color: #323232;
    font-weight: 500;
    line-height: 30px;
}

.advantage-container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
    color: #323232;
}

.advantage-fon {
    background-image: url(../img/background/vaflya.jpg);
    border-radius: 10px;
    padding: 30px 20px;
}

.advantages-list {
    font-size: 16px;
    color: #323232;
    font-weight: 300;
    line-height: 22px;
    list-style: none;
}

.news-block {
    background-color: #ffffff;
    background-image: url(../img/background/strawberry.jpg);
    background-repeat: no-repeat;
    padding: 25px 250px 25px 20px;
    border-radius: 10px;
}

.features-first {
    background-image: url(../img/background/Malinka.jpg);
    background-repeat: no-repeat;
    background-color: #cbaec0;
    border-radius: 10px;
}

.features-item {
    font-size: 35px;
    line-height: 41px;
}

.features-description {
    font-size: 18px;
    line-height: 22px;
}

.features-second {
    background-image: url(../img/background/shokofon.jpg);
    background-repeat: no-repeat;
    background-color: #cbaec0;
    border-radius: 10px;
}

.news-title {
    font-size: 16px;
    color: #323232;
    font-weight: 500;
    line-height: 22px;
}

.news-link {
    font-size: 24px;
    color: #323232;
    font-weight: 700;
    line-height: 30px;
}

.send-block {
    min-width: 560px;
    min-height: 220px;
    background-color: #f8f7f4;
    border-radius: 10px;
    padding: 27px 17px;
    background-image: url(../img/background/bg-post.svg);
    background-repeat: no-repeat;
}

.send-text {
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 300;
    line-height: 22px;
}

.form-email {
    font-size: 16px;
    color: #999999;
    font-weight: 300;
    line-height: 24px;
}

.map {
    background-image: url(../img/background/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.map-block {
    color: #000000;
}

.address-titles {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.map-address {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.map-phone {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.footer-links_info,
.footer {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
}

.footer-link_delivery {
    font-weight: 700;
}

.footer-copy {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.footer-social,
.footer-menu {
    list-style: none;
}

.header a:hover,
.header a:hover,
.header a:focus,
.header a:focus,
.header- a:hover,
.header- a:focus,
.log-auth a:hover,
.log-auth a:focus {
    background-color: #a1b6aa;
}

.inner-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}
.pagination {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    list-style: none;
}
.essentials-list {
    list-style: none;
}
.essentials-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;

}
.essentials-item-name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    list-style: none;
}

/*.footer-social_tw {*/
/*    background-image: url(../img/icon/twitter.svg);*/
/*    background-repeat: no-repeat;*/
/*    line-height: 22px;*/
/*}*/
/*.footer-social_inst {*/
/*    background-image: url(../img/icon/instagram.svg);*/
/*    background-repeat: no-repeat;*/
/*     line-height: 22px;*/
/*}*/
/*.footer-social_vk {*/
/*    background-image: url(../img/icon/vk.svg);*/
/*    background-repeat: no-repeat;*/
/*     line-height: 22px;*/
/*}*/
/*.footer-social_fb {*/
/*    background-image: url(../img/icon/fb.svg);*/
/*    background-repeat: no-repeat;*/
/*    line-height: 22px;*/
/*}*/
