@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-bold_700") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-medium_500") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-regular_400") format("woff2");
    font-weight: 400;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.content-box-component {
    box-sizing: content-box;
}

body {
    font-family: Roboto, "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: white;
    background-color: #849d8f;
}

a {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;

}

.breadcrumbs-list {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.button {
    background-color: #849d8f;
    border-radius: 10px;
}

a.button {
    left: 971px;
    top: 23px;
    width: 93px;
    height: 32px;
    z-index: 188;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #e84e37;
}

.header {
    display: flex;
    flex-direction: column;
}

.logo-img {
    margin-top: 9px;
    margin-right: 24px;
    max-width: 100%;
    height: auto;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav_menu {
    display: flex;
    align-items: center;
    margin-top: 9px;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 10px;
    margin-top: 9px;
    list-style: none;
}

.header-menu_item {
    position: relative;
    padding-top: 6px;
    padding-right: 13px;
    padding-bottom: 6px;
    padding-left: 14px;
    border-radius: 20px;
}

.link-catalog,
.header-link {
    font-weight: 700;
    margin-right: 30px;
}

.header-menu__item:hover .dropdown,
.header-menu__item:focus .dropdown {
    display: block;
}

.header-user_menu {
    display: flex;
    align-items: center;
}

.header-login {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header-buy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.header-navigation {
    list-style: none;
}

.header-call {
    align-self: flex-end;
    margin-top: -8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
}

.call-number {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
}

.header-buy {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.small {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.link-catalog {
    font-size: 14px;
    line-height: 16px;
}

.catalog-list {
    list-style: none;
}

.drop-find {
    background-color: white;
    font-size: 14px;
    line-height: 24px;
}

.dropdown {
    display: none;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.dropdown-item {
    color: black;
    background-color: #fbded8;
    position: relative;
}

.main-promo {

}

.promo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.promo-item {
    max-width: 670px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.news-link {
    font-size: 24px;
    color: #323232;
    font-weight: 500;
    line-height: 30px;
}

.main-features {
    display: flex;
    justify-content: space-between;
}

.features-first {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 560px;
    height: 229px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.features-item {
    margin-top: 16px;
    margin-left: 18px;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.features-description {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.features-second {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 560px;
    height: 229px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.advantage-container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
    color: #323232;
}

.advantage-fon {
    background-image: url(../img/background/vaflya.jpg);
    border-radius: 10px;
    padding: 30px 20px;
    background-repeat: no-repeat;
    background-size: cover;

}

.advantages-list {
    font-size: 16px;
    color: #323232;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
}

.news-block {
    background-color: #ffffff;
    background-image: url(../img/background/strawberry.jpg);
    background-repeat: no-repeat;
    padding: 25px 250px 25px 20px;
    border-radius: 10px;
}

.main-features {

    margin: auto;

}

.features-first {
    background-image: url(../img/background/Malinka.jpg);
    background-repeat: no-repeat;
    background-color: #cbaec0;
    border-radius: 10px;
}

.features-item {
    font-size: 35px;
    line-height: 41px;
}

.features-description {
    font-size: 18px;
    line-height: 22px;
}

.features-second {
    background-image: url(../img/background/shokofon.jpg);
    background-repeat: no-repeat;
    background-color: #cbaec0;
    border-radius: 10px;
}

.news-title {
    font-size: 16px;
    color: #323232;
    font-weight: 500;
    line-height: 22px;
}

.news-link {
    font-size: 24px;
    color: #323232;
    font-weight: 700;
    line-height: 30px;
}

.send-block {
    min-width: 560px;
    min-height: 220px;
    background-color: #f8f7f4;
    border-radius: 10px;
    padding: 27px 17px;
    background-image: url(../img/background/bg-post.svg);
    background-repeat: no-repeat;
}

.send-text {
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 400;
    line-height: 22px;
}

.form-email {
    font-size: 16px;
    color: #999999;
    font-weight: 400;
    line-height: 24px;
}

.map {
    background-image: url(../img/background/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.map-block {
    color: #000000;
}

.address-titles {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.map-address {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.map-phone {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
}

.footer-main {
    width: 100%;
    display: flex;
    max-height: 430px;
    max-width: 1200px;
    align-items: center;

}

.footer-social {
    display: flex;
    padding: 0;
    margin-top: 28px;
    list-style: none;
}

.footer-social_item {
    display: list-item;
    text-align: -webkit-match-parent;

}

.footer-menu-nav {
    display: block;
}

.nav-menu_list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 50px;
    padding: 0 0 0 0;
    list-style: none;
}

.footer-nav_info {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    margin-right: 30px;
    text-decoration: none;
}

.footer-nav_item {
    font-size: 13px;
    line-height: 18px;
    margin-right: 30px;
    font-weight: 400;
}

.footer-copy {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.footer-logo {
    display: block;
    width: 180px;
}

.inner-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.pagination {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    list-style: none;
}

.promo-item {
    position: relative;
    width: 293px;
    height: 362px;
}

.promo-list {
    list-style: none;
}

.catalog {
    width: 1172px;
    margin: 0 auto;
    display: block;
}

.catalog-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.catalog-item {
    position: relative;
    width: 293px;
    height: 362px;
    display: list-item;
}

.catalog-item-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.catalog-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-item-name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    list-style: none;
}

